In [21]:
import pandas as pd
import numpy as np
import re
from matplotlib import pyplot as plt

print("="*50, "2019.08.13", "="*50)

DATA_FRAME = pd.read_html("https://en.wikipedia.org/wiki/List_of_Nobel_laureates_by_country", 
                          header=0, index_col=0)

RE_DF = DATA_FRAME[1].iloc[:78,:1]




print(RE_DF)

================================================== 2019.08.13 ==================================================
                                 Number of Nobel laureates
Country
United States                                  375[Note 1]
United Kingdom                                 131[Note 2]
Germany                                                108
France                                          69[Note 3]
Sweden                                                  32
Russia/ Soviet Union                                    31
Japan                                                   27
Canada                                                  26
Switzerland                                             26
Austria                                                 21
Netherlands                                             21
Italy                                                   20
Poland                                                  14
Denmark                                                 13
Hungary                                                 13
Norway                                                  13
Australia                                               12
Israel                                                  12
Belgium                                                 11
Ireland                                                 11
India                                                   10
South Africa                                            10
ROC/ PRC                                                 8
Spain                                                    8
Czech Republic                                           6
Ukraine                                                  6
Argentina                                                5
Finland                                                  5
Egypt                                                    4
Romania                                                  4
...                                                    ...
Saint Lucia                                              2
Taiwan                                                   2
Turkey                                                   2
Azerbaijan                                               1
Brazil                                                   1
Bulgaria                                                 1
Democratic Republic of the Congo                         1
Costa Rica                                               1
Cyprus                                                   1
Faroe Islands                                            1
Ghana                                                    1
Hong Kong                                                1
Iceland                                                  1
Iraq                                                     1
Iran                                                     1
Kenya                                                    1
Latvia                                                   1
North Macedonia                                          1
Morocco                                                  1
Myanmar                                                  1
Nigeria                                                  1
Palestine                                                1
Peru                                                     1
Slovenia                                                 1
Tibet                                                    1
Trinidad and Tobago                                      1
Tunisia                                                  1
Venezuela                                                1
Vietnam                                                  1
Yemen                                                    1

[78 rows x 1 columns]